extends layout

block content
  h1= title
  div(id="loginWrapper")
    form(action="/login", method="post")
      | USERNAME:
      input(type="text", name='username', required)
      | PASSWORD:
      input(type="password", name="password", required)
      button(type="submit") LOG IN
      if loginError
        p(style={color: 'red'})
          | #{loginError}
  ul
    each tweet in tweets
      li
        p #{tweet}
