body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
}

@media screen and (max-width: 480px) {
  footer{
    display: none;
  }
}



